.LocationTideData {
  /* display: grid; */
  height: 100%;
  width: 100%;
  background-color: #62b6cb;
  /* grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%; */
  /* grid-template-areas:
    "topbar topbar"
    "weatherinfo tideinfo";
    background-color: #62B6CB; */
}

.TopBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1%;
  justify-content: space-between;
}

.SearchOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  background-color: rgba(98, 182, 203, 0.95);
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.IconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 20%;
  padding-right: 10%;
  cursor: pointer;
}
.IconContainer input {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  outline: 0;
  width: 100%;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 300;
}
.SearchIcon {
  height: 2.5vh;
  padding-left: 5%;
}

.Logo {
  width: 8%;
  padding: 1%;
  z-index: 100;
}

.crossIcon {
  height: 3vh;
  z-index: 100;
  padding: 1%;
  margin-right: 5%;
  cursor: pointer;
}

.TitleContainer {
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.TitleContainer h2 {
  color: rgba(255, 255, 255, 0.95);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding-left: 1%;
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin-right: 10%;
  justify-content: space-between;
}
.TideButtonsContainer {
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
}
.WindButtonsContainer {
  margin-right: 5%;
  display: flex;
  flex-direction: row;

  width: 45%;
}
.WindButtonsContainer button {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 1.5% 4% 1.5% 4%;
  margin-right: 2%;
  border-radius: 25px;
}

.TideButtonsContainer button {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 1.5% 4% 1.5% 4%;
  border-radius: 15px;
}

/* .TideButtonsContainer button:focus {
  background-color: rgba(255, 255, 255, 1);
  color: #62b6cb;
}
.WindButtonsContainer button:focus {
  background-color: rgba(255, 255, 255, 1);
  color: #62b6cb;
} */
