.LocationSearch{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #62B6CB;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.SearchContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
}

.SearchPrompt{
    text-align: center;
    font-size: 37px;
    font-family: "Open Sans", sans-serif; 
    color: white;
}

.Logo{
    position: absolute;
    width: 12%;
    top: 5%;
    left: 3%;

}

.LightWave{
    position: absolute;
    bottom: 0%;
    width: 150%;
}

.DarkWave{
    position: absolute;
    bottom: -2%;
    width: 150%;
    left: -11%;
}